@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --secondary-color: #8f8f8f;
  --light-bg-color: hsla(0,0%, 88%,0.2);
  --header-color: hsla(0,0%, 88%,0.9);
  --background-color: #00000080;
  --white-color: hsl(0, 0%, 100%);
  --black-text-color: hsl(0, 0%, 0%);
  --footer-bg: hsl(240, 10%, 16%);
  --secondary-text: hsl(207, 13%, 34%);
  --dark-grey-color: rgba(0, 0, 0, 0.5);
  --red-color: #e85454;
  --menu-sliver: #c0c0c0;
  --menu-grey : #f2f2f2;
  --dark-menu : #707070;

  --left-bg-color: white;
  --right-bg-color: #f2f2f2;;
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --hover-width: 70%;
  --other-width: 30%;
  --speed: 500ms;

  --header-font1: "Josefin Sans", sans-serif;
  --text-font2: "Abel", sans-serif;
  --text-font3:font-family: 'Nunito', sans-serif;
}
html:focus-within {
  scroll-behavior: smooth;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Abel", sans-serif;
  font-family: "europa", sans-serif;
}
/* scroll animation */

main {
  margin-top: 5em;
  
}
.container{
  overflow: hidden;
}
/* Style inputs, select elements and textareas */
/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 1em; /* Some padding */ 
        background: inherit;
         /* Gray border */
         border: none;
         border-bottom: 1px solid var(--black-text-color);
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        text-transform: capitalize;
  font-size: 12px;
  font-family: var(--header-font1);
        resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
    }
     input[type=text], select, textarea:focus + {
      outline-color: var(--black-text-color);
            
    } 
    input:focus + label::after,
    input:valid + label::after{
transform: translateX(0%);   
 }
    
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color:var(--black-text-color);
        color: var(--white-color);
        padding: 12px 20px;
        border: none;
        width: 30%;
        cursor: pointer;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 14px;
    }
    label {
display: inline-block;
 font-weight:600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: var(--text-font2);
  color: var(--black-text-color);
  
      }
      label:focus{
        color: var(--secondary-color);
      }
      label::after{
        content: "";
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 100%;
        width: 70%;
        border-bottom: 1px solid var(--red-color);
        transform: translate(-100%);
        transition: all 0.3s ease;
      }
    
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: var(--white-color);
        color: var(--black-text-color);
        border: 1px solid var(--black-text-color);

    }
    
    /* Add a background color and some padding around the form */
    .container {
        
        background-color: var(--light-bg-color);
        padding: 2em;
        margin: auto;
    }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (min-width: 1200px) {
        input[type=text], select, textarea {
                width: 70%; /* Full width */
                padding: 1em; /* Some padding */ 
                background: inherit;
                 /* Gray border */
                 border: none;
                 border-bottom: 1px solid var(--black-text-color);
                margin-top: 6px; /* Add a top margin */
                margin-bottom: 16px; /* Bottom margin */
                text-transform: capitalize;
          font-size: 12px;
          font-family: var(--header-font1);
                resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
            }
             input[type=text], select, textarea:focus{
                    outline-color: var(--black-text-color);
                    
                    
                    
                    
            } 
            
            
            /* Style the submit button with a specific background color etc */
            input[type=submit] {
                background-color:var(--black-text-color);
                color: var(--white-color);
                padding: 12px 20px;
                border: none;
                width: 15%;
                cursor: pointer;
                margin: 0 auto;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 14px;
            }
            label {
        display: inline-block;
         font-weight:600;
          text-align: center;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 16px;
          font-family: var(--text-font2);
          color: var(--black-text-color);
          
              }
            
            /* When moving the mouse over the submit button, add a darker green color */
            input[type=submit]:hover {
                background-color: var(--white-color);
                color: var(--black-text-color);
                border: 1px solid var(--black-text-color);
        
            }
            
            /* Add a background color and some padding around the form */
            .container {
                
                background-color: var(--light-bg-color);
                padding: 2em;
                margin: auto;
            }
      }