@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --secondary-color: #8f8f8f;
  --light-bg-color: hsla(0,0%, 88%,0.2);
  --header-color: hsla(0,0%, 88%,0.9);
  --background-color: #00000080;
  --white-color: hsl(0, 0%, 100%);
  --black-text-color: hsl(0, 0%, 0%);
  --footer-bg: hsl(240, 10%, 16%);
  --secondary-text: hsl(207, 13%, 34%);
  --dark-grey-color: rgba(0, 0, 0, 0.5);
  --red-color: #e85454;
  --menu-sliver: #c0c0c0;
  --menu-grey : #f2f2f2;
  --dark-menu : #707070;

  --left-bg-color: white;
  --right-bg-color: #f2f2f2;;
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --hover-width: 70%;
  --other-width: 30%;
  --speed: 500ms;

  --header-font1: "Josefin Sans", sans-serif;
  --text-font2: "Abel", sans-serif;
  --text-font3:font-family: 'Nunito', sans-serif;
}
html:focus-within {
  scroll-behavior: smooth;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Abel", sans-serif;
  font-family: "europa", sans-serif;
  overflow-y: scroll;
  background: var(--light-bg-color);
}
main{
        margin-top: 5em;
}
.press-column{
        padding: 2em 2em;
}
.press-subttext{
font-family: var(--header-font1);
  text-align: justify;
  text-transform: uppercase;
  
  color: var(--black-text-color);
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}
.press-text{
font-weight:600;
  text-align: justify;
  line-height: 2.7em;
  text-transform: uppercase;
  font-size: 1em;
  font-family: var(--text-font2);
  color: var(--black-text-color);
  cursor: pointer;
}
.press-subttext:hover{
        color: var(--secondary-color);
}
.press-text:hover{
        color: var(--secondary-color);
}